body
{
    background-image: url(Blue\ Beige\ Aesthetic\ Minimalist\ Quote\ Desktop\ Wallpaper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}